<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style src="gimnasio\gim\migrations\styles\base.css"></style>
  </head>
  <body>
    <nav>
      <ul hx-trigger="click" hx-target="main" hx-swap="innerHTML">
        
        <li><button hx-get="{% url 'gim:lessons' %}" >Clases.</button></li>
        <li><button hx-get="{% url 'gim:rooms' %}" >Salas.</button></li>
        <li><button hx-get="{% url 'gim:lessons' %}" >Profesores.</button></li>
        <li><button hx-get="{% url 'gim:lessons' %}" >Clientes.</button></li>

      </ul>
    </nav>

    <main>
      {% block content %}
        <h1>Gim Page.</h1>
        
      {% endblock content %}
      <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    </main>
  </body>
  

</html>
