<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style src="gim_page\gim\templates\gim_page\styles\base.css"></style>
  </head>
  <body>
    <nav>
      <ul hx-trigger="click" hx-target="main" hx-swap="innerHTML">
        
        <li><button hx-get="{% url 'gim:lessons' %}" >Lessons.</button></li>
        <li><button hx-get="{% url 'gim:rooms' %}" >Rooms.</button></li>
        <li><button hx-get="{% url 'gim:teachers' %}" >Teachers.</button></li>
        <li><button hx-get="{% url 'gim:teachers' %}" >Clients.</button></li>

      </ul>
    </nav>

    {% if user.is_authenticated %}
    Hello, {{ user.username }}.
      <a href="{% url 'users:logout' %}">Log out</a>
    {% else %}
      <a href="{% url 'users:register' %}">Register</a> -
      <a href="{% url 'users:login' %}">Log in</a>
    {% endif %}
    
    <!-- I want to modify the 'main' tag whit HTMX for learning purposes, but i will use this template on the 'users' app. -->
    {% block content %}

    <main>
        <h1>Gim Page.</h1>
      <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    </main>

    {% endblock content %}

  </body>
</html>
