<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <div id="general-container">
      <div id="nav-bar">
        <h1>GimLogo</h1>
        <nav>
          <ul hx-trigger="click" hx-target="main" hx-swap="innerHTML">
            
            <li><button hx-get="{% url 'gim:lessons' %}" >Lessons.</button></li>
            <li><button hx-get="{% url 'gim:rooms' %}" >Rooms.</button></li>
            <li><button hx-get="{% url 'gim:teachers' %}" >Teachers.</button></li>
            {% if user.is_authenticated %}
            <li><button hx-get="{% url 'gim:clients' %}" >Clients.</button></li>
            {% endif %}
          </ul>
          {% if user.is_authenticated %}
          Hello, {{ user.username }}.
            <a href="{% url 'users:logout' %}">Log out</a>
          {% else %}
            <a href="{% url 'users:register' %}">Register</a> -
            <a href="{% url 'users:login' %}">Log in</a>
          {% endif %}
        </nav>
    
      </div>
      
      <div id="main-content">
      
      
        <main>
          <!-- I want to modify the 'main' tag whit HTMX for learning purposes, but i will use this template on the 'users' app. -->
          {% block content %}
            <h1>Gim Page.</h1>
          {% endblock content %}
        </main>
        
      </div>
    </div>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
  </body>
</html>
