
  <h1>Clients:</h1>
  <table>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Address</th>
        <th>Profession</th>
        <th>Phone number</th>
        <th>Affiliate number</th>
        <th>Is up to date:</th>
      </tr>
    {% for client in clients %}
      <tr>
        <td>{{ client.first_name }}</td>
        <td>{{ client.last_name }}</td>
        <td>{{ client.address }}</td>
        <td>{{ client.profession }}</td>
        <td>{{ client.phone_number }}</td>
        <td>{{ client.affiliate_number }}</td>
        <td>{{ client.is_up_to_date }}</td>
      </tr>
    {% endfor %}
</table>
{% if user.is_authenticated %}
  <button class="insert-button" hx-get="{% url 'gim:new_client' %}" hx-trigger="click" hx-target="main" hx-swap="innerHTML">Insert client data.</button>
{% endif %}