  <h1>Lessons:</h1>
  <table>
      <tr>
        <th>Description</th>
        <th>Date and time</th>
        <th>Room</th>
        <th>Price</th>
        <th>Teacher</th>
      </tr>
    {% if user.is_authenticated %}
     {% for gimlesson in gimlessons %}
      <tr>
        <td>{{ gimlesson.description }}</td>
        <td>{{ gimlesson.datetime }}</td>
        <td>{{ gimlesson.room }}</td>
        <td>{{ gimlesson.price }}</td>
        <td>{{ gimlesson.teacher }}</td>
        <td><button hx-trigger="click" hx-target="main" hx-swap="innerHTML" hx-get="{% url 'gim:edit_lesson' gimlesson.id %}">Edit lesson.</button></td>
      </tr>
    {% endfor %}
    {% else %}
     {% for gimlesson in gimlessons %}
      <tr>
        <td>{{ gimlesson.description }}</td>
        <td>{{ gimlesson.datetime }}</td>
        <td>{{ gimlesson.room }}</td>
        <td>{{ gimlesson.price }}</td>
        <td>{{ gimlesson.teacher }}</td>
      </tr>
      
    {% endfor %}
    {% endif %}
  </table>

{% if user.is_authenticated %}
  <button class="insert-button" hx-get="{% url 'gim:new_lesson' %}" hx-trigger="click" hx-target="main" hx-swap="innerHTML">Insert lesson.</button>

{% endif %}